<header>
    <nav>
        <div class="nav-wrapper">
            <ul class="left">
                <li><a href="/pages/document">SBTVC Dormitory Access System API</a></li>
                
            </ul>
            <ul class="right">
                <li class="active"><a href="/pages/document">Document</a></li>
            </ul>
        </div>
    </nav>
</header>