<div class="rightSection">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">POST</div>
          <div class="collapsible-body">
            <div class="collection">
                <a href="#!" class="collection-item">createA</a>
                <a href="#!" class="collection-item active">createB</a>
                <a href="#!" class="collection-item">createC</a>
                <a href="#!" class="collection-item">createD</a>
            </div>  
          </div>
        </li>
        <li>
          <div class="collapsible-header">GET</div>
          <div class="collapsible-body">
            <div class="collection">
                <a href="#!" class="collection-item">getA</a>
                <a href="#!" class="collection-item active">getB</a>
                <a href="#!" class="collection-item">getC</a>
                <a href="#!" class="collection-item">getD</a>
            </div>  
          </div>
        </li>
        <li>
          <div class="collapsible-header">PUT</div>
          <div class="collapsible-body">
            <div class="collection">
                <a href="#!" class="collection-item">updateA</a>
                <a href="#!" class="collection-item active">updateB</a>
                <a href="#!" class="collection-item">updateC</a>
                <a href="#!" class="collection-item">updateD</a>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">DELETE</div>
          <div class="collapsible-body">
            <div class="collection">
                <a href="#!" class="collection-item">deleteA</a>
                <a href="#!" class="collection-item active">deleteB</a>
                <a href="#!" class="collection-item">deleteC</a>
                <a href="#!" class="collection-item">deleteD</a>
            </div>  
          </div>
        </li>
    </ul>
</div>